<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
    	<typeAlias type="com.medicine.app.user.UserVO" alias="UserVO" />
    	<typeAlias type="com.medicine.app.user.UserVO" alias="AdminVO" />
    	<typeAlias type="com.medicine.app.uPdPage.UpdVO" alias="UpdVO" />
    	<typeAlias type="com.medicine.app.medicine.MedicineVO" alias="MedicineVO" />
    	<typeAlias type="com.medicine.app.mdReply.MdReplyVO" alias="MdReplyVO" />
    	<typeAlias type="com.medicine.app.mdMark.MdMarkVO" alias="MdMarkVO" />
    	<typeAlias type="com.medicine.app.comCode.ComCodeVO" alias="ComCodeVO" />
    	<typeAlias type="com.medicine.app.bReply.BReplyVO" alias="BReplyVO" />
    	<typeAlias type="com.medicine.app.board.BoardVO" alias="BoardVO" />
    	<typeAlias type="com.medicine.app.bMark.BMarkVO" alias="BMarkVO" />
    	<typeAlias type="com.medicine.app.qna.QnAVO" alias="QnAVO" />
    	
    </typeAliases>
    
 <mappers>
 		<mapper resource="conf/userSql.xml" />
		<mapper resource="conf/updPageSql.xml" />
		<mapper resource="conf/medicineSql.xml" />
		<mapper resource="conf/mdReplySql.xml" />
		<mapper resource="conf/mdMarkSql.xml" />
		<mapper resource="conf/comCodeSql.xml" />
		<mapper resource="conf/bReplySql.xml" />
		<mapper resource="conf/boardSql.xml" />
		<mapper resource="conf/bMarkSql.xml" />
		<mapper resource="conf/qnaSql.xml" />
		<mapper resource="conf/adminSql.xml" />
			
 </mappers>
</configuration>


